MONGO_URI=mongodb://localhost:27017/phonepick
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=another_long_random_string
CLIENT_URL=http://localhost:5173
PORT=5000
